*.iml
.gradle
.kotlin
local.properties
/local.properties
/build/
/app/build/*
/captures
.externalNativeBuild
.cxx
.DS_Store
*.apk
app/release/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/*
/.github/git-commit-instructions.md
/app/build/
/.artifacts/
/AGENT_RULES.md
AGENT_RULES.md
